
<!DOCTYPE html>


<div class="modal-dialog" >
    <div class="modal-content">
        <div class="modal-header">
            
            <h4 class="modal-title">Reset Your Account Password</h4>
        </div>
            <form   [formGroup]="addEmailForm" (ngSubmit)="submitEmail()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="accountEmail">Account Email</label>
                        <input type="email" name="signupEmail" id="signupEmail" autocomplete="off"  formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': (isEmailSubmit && addEmailForm.controls['email'].errors) || (!addEmailForm.controls['email'].pristine && addEmailForm.controls['email'].invalid) }" >
                        <div class="invalid-feedback" *ngIf="(isEmailSubmit && addEmailForm.controls['email'].errors) || (!addEmailForm.controls['email'].pristine && addEmailForm.controls['email'].invalid)">
                            <div *ngIf="addEmailForm.controls['email'].errors?.['required']">Email is required</div>
                            <div *ngIf="addEmailForm.controls['email'].errors?.['pattern']">Enter valid email</div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    
                    <button type="submit" name="submit" value="resetPass" class="btn btn-success btn-sm btn-icon"><i class="fa fa-check-square-o"></i> Send Password</button>
                </div>
            </form>
        </div>

    </div>
    <p class="success" *ngIf="emailMsg">Your Password Sent Successfully</p>


    